body {
  font-family: 'Press Start 2P', cursive;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}

.margin-left {
  margin-left: 10px;
}